- name: Install and configure zsh
  hosts: localhost
  tasks:
    - name: Install zsh
      become: true
      package:
        name: zsh
        state: present
        update_cache: yes

    - name: Install Starship prompt
      shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
      args:
        creates: /usr/local/bin/starship

    - name: Stow zsh configuration
      command: "stow -d ~/.dotfiles -t ~/ zsh"

    - name: Switch default shell to zsh
      become: true
      user:
        name: "{{ ansible_user_id }}"
        shell: /usr/bin/zsh
